.comment {
  width: 100%;
  background-color: #eef7f2;
  .comment__wrap {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .comment___itle {
      font-size: 40px;
    }
    .comcard__wrap {
      display: flex;
      .comcard {
        width: 350px;
        height: 322px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 50px;
        gap: 20px;
      }
      b {
        text-align: center;
      }
      align-items: center;
      justify-content: center;
      gap: 30px;
      .comcard__img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .comcard {
        background: white;
      }
    }
  }
}

@media (max-width: 1118px) {
  .comment__wrap {
    padding-top: 40px;
    padding-bottom: 40px;

    .comment__title {
      font-size: 30px;
    }

    .comcard__wrap {
      flex-direction: column;
      gap: 20px;
    }
  }
}

@media (max-width: 480px) {
  .comment__wrap {
    padding-top: 20px;
    padding-bottom: 20px;

    .comment__title {
      font-size: 18px;
    }

    .comcard__wrap {
      .comcard {
        padding: 15px 20px;
      }
    }
  }
}
