.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  li {
    list-style: none;
  }
  .nav__collection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    select {
      border: none;
    }
  }
  .nav__icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 510px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    li {
      list-style: none;
    }
    .nav__collection {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 20px;
      select {
        border: none;
      }
    }
    .nav__icons {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
